Body{
    background-color: red
}
h1{
    font-family:'Coda Caption', sans-serif; 
    color: white;
    text-shadow: 5px 5px 3px blue;
    }
    p{
        font-family:  'Ultra', serif;
        color: blue;
        text-align: justify;
    }
    section{ 
        background-color: black;
        color: red;
        font-family: 'Press Start 2P', cursive;
        text-decoration-line: underline;
        text-decoration-style: dashed;
        text-align: justify;
    }